In [ ]:
def parser_reader():
    
    parser = argparse.ArgumentParser(description="Generate a structured markdown documentation template for a tabular file.")
    parser.add_argument("-s", "--source_file", type=str, help="The tabular file you want to generate the documentation template for.")
    parser.add_argument("-o", "--output_dir", type=str, help="The directory to write the generated markdown file.")
    parser.add_argument("-H", "--header", action="store_true")
    parser.add_argument("-d", "--delimiter", action="store_true")

    return parser.parse_args()

In [76]:
def identify_type(value):

    if ((isinstance(value, int)==True) or (isinstance(value, float)==True)):

        return "Number"
    
    elif (isinstance(value, str)==True):

        try:
            value=value.replace(",", ".")

            value=int(value)

            return "Number"
        
        except:
            return "String"

    elif (isinstance(value, bool)==True):

        return "Boolean"

int(123.66)

123

In [41]:
import pandas as pd
data=pd.read_csv(r"C:\Users\bergantinid.APEXPARTNERS\Desktop\arquivos_BTG\paineis\fundos\posicao_fundos.csv", sep=";")
data

,CARTEIRA,NOME,PRODUTO,CNPJ,ADMINISTRADOR,CATEGORIA,REGATE (D+),HORÁRIO LIMITE,QUANTIDADE,VALOR BRUTO,IR,IOF,VALOR LÍQUIDO
0,001517720,BRUNO,ABSOLUTE ALPHA GLOBAL FIC FIM,2.198304e+13,BNY MELLON SERVICOS FINANCEIROS DTVM S/A,Multimercados,18.0,01:35:00 PM,"2636,525789","5132,7","14,94",0,"5117,76"
1,001745449,VANIA,ABSOLUTE ALPHA GLOBAL FIC FIM,2.198304e+13,BNY MELLON SERVICOS FINANCEIROS DTVM S/A,Multimercados,18.0,01:35:00 PM,"76722,16272","149360,06","424,74",0,"148935,32"
2,001852571,ELIZA,ABSOLUTE ALPHA GLOBAL FIC FIM,2.198304e+13,BNY MELLON SERVICOS FINANCEIROS DTVM S/A,Multimercados,18.0,01:35:00 PM,"3697,539659","7198,24","27,19",0,"7171,05"
3,002228584,ELISA,ABSOLUTE ALPHA GLOBAL FIC FIM,2.198304e+13,BNY MELLON SERVICOS FINANCEIROS DTVM S/A,Multimercados,18.0,01:35:00 PM,"5175,169419","10074,84","15,83","4,49","10054,52"
4,002686382,GLADSON,ABSOLUTE ALPHA GLOBAL FIC FIM,2.198304e+13,BNY MELLON SERVICOS FINANCEIROS DTVM S/A,Multimercados,18.0,01:35:00 PM,"25679,81546","49992,58",0,0,"49992,58"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3404,003580651,MARIANA,WESTERN ASSET US INDEX 500 FIM,1.745385e+13,BANCO BNP PARIBAS BRASIL S/A,Multimercados,1.0,02:35:00 PM,"476,3871521","2435,27","31,12",0,"2404,15"
3405,004843272,RAFAEL,WESTERN ASSET US INDEX 500 FIM,1.745385e+13,BANCO BNP PARIBAS BRASIL S/A,Multimercados,1.0,02:35:00 PM,"797,2952556","4075,75","17,04",0,"4058,71"
3406,005033063,SEBASTIAO,WESTERN ASSET US INDEX 500 FIM,1.745385e+13,BANCO BNP PARIBAS BRASIL S/A,Multimercados,1.0,02:35:00 PM,"6154,258052","31460,36","9,74","137,07","31313,55"
3407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3408,Filtros aplicados:\nLINE é 1\nMercado é FUNDOS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN